<!DOCTYPE html>
<html>
 <head>
   <title>Upload Image</title>
 </head>
 <body >
<div style="margin: auto;
width: 60%;
border: 3px solid #73AD21;
padding: 10px;">
   {% if msg %}
   <h1>{{ msg }}</h1>
   {% endif %}

   <h1>Upload new File</h1>

   <form method=post enctype=multipart/form-data>
     <p><input type=file name=file>
        <input type=submit value=Upload>
   </form>

   <h1>Result:{{result}}</h1>
   {% if img_src %}
     <img src="{{ img_src }}" width="400" height="400">
   {% endif %}

   {% if extracted_text  %}
     <p> The extracted text from the image above is: <b> {{ extracted_text }} </b></p>

   {% else %}
     The extracted text will be displayed here
   {% endif %}


    {% if extracted_text2 %}
    <h1>Result Using Natural Language Processing with TextBlob:</h1>
       <p> The extracted text from the image above is: <b> {{ extracted_text2 }} </b></p>

     {% endif %}




</div>
 </body>
</html>
